<% include partials/head %>

  <body >
    <section class="hero">
        <section class="navigation">
            <header>
                <div class="header-content">
                    <div class="logo"><img src="serler.png" width="160px" alt="Serler logo"></div>
                    <div class="header-nav">
                        <nav>

                        </nav>
                    </div>
                    <div class="navicon">
                        <a class="nav-toggle" href="#"><span></span></a>
                    </div>
                </div>
            </header>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="hero-content text-center">
      
     <h1 style="font-family: 'Pacifico', cursive; text-align: center; font-size:50px;">Your account has been created.<br>
        A verification email will arrive shortly.</h1>
    <center>
      
      <a href="/">Back to Home</a>
    
    </center>
                        
                    </div>
                </div>
            </div>
        </div>
        </section>


    </body>
  </html>