<% include partials/head %>
  <body >

        <section class="hero">
        <section class="navigation">
            <header>
                <div class="header-content">
                    <div class="logo"><img src="serler.png" width="160px" alt="Serler logo"></div>
                    <div class="header-nav">
                        <nav>

                            <ul class="member-actions">

                            </ul>
                        </nav>
                    </div>
                    <div class="navicon">
                        <a class="nav-toggle" href="#"><span></span></a>
                    </div>
                </div>
            </header>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="hero-content text-center">
      
                          <div class="content">
              <h1 class="headText">Create Account</h1>
              <div class="title">Create an account</div>

              
        <% if (message != null) { %>
          <div class="alert-danger"><%= message %></div>
        <% } %>
        
              <form action="/create" method="post" >
                      
                         <div class="form-group">
                          <input  type="email" placeholder="Email" class="form-control font20" name="email" required/>
                        
                      </div>

                      <div class="form-group">
                        <input id="password" type="password" onclick="passVal()" placeholder="Password" class="form-control font20" name="password" minlength="8" required  />
                      </div>

                      <div class="form-group">
                        <input id="confirm_password" type="password" placeholder="Confirm Password" class="form-control font20" name="confirm_password" required />
                      </div>

                      <div>
                        <button id="submitBtn" type="submit" class="form-control sgnup btn" disabled="true">Submit</button>
                      </div>
        </form>
              <div class="social"> <span><br>or sign up with social media</span></div>
              <br>
              <div class="buttons">
                    <a href="/auth/facebook" class="btn btn-facebook font25"><span class="fa fa-facebook"></span>&nbsp;&nbsp;With Facebook</a>
                     <!-- <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a> -->
                    <a href="/auth/google" class="btn btn-google font25"><span class="fa fa-google-plus"></span>&nbsp;&nbsp;With Google</a>
        </div><br>

              <div class="social">Already have an account? <a href="/login">&nbsp;Login</a></div>
        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        </section>
      
  </body>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $('#password,#confirm_password').on('keyup', function (){
             if ($('#password').val() == $('#confirm_password').val()) 
                {
             $('#confirm_password').css('color', 'green');
             document.getElementById("submitBtn").disabled = false;   
}
             else
                {
            $('#confirm_password').css('color', 'red');
            document.getElementById("submitBtn").disabled = true;
}
        });
    </script>
    <script>
     function passVal() {
     var p = document.getElementById('password').value,
        errors = [];
    if (p.length < 8) {
        errors.push("Your password must be at least 8 characters");
        document.getElementById("submitBtn").disabled = true;
    }
    if (p.search(/[a-z]/i) < 0) {
        errors.push("Your password must contain at least one letter.");
        document.getElementById("submitBtn").disabled = true;
    }
    if (p.search(/[0-9]/) < 0) {
        errors.push("Your password must contain at least one digit.");
        document.getElementById("submitBtn").disabled = true;
    }
    if (p.search(/[#?!@$%^&*-]/) < 0) { 
        errors.push("Your password must contain at least one special character."); 
        document.getElementById("submitBtn").disabled = true;
    }      
    if (p.search(/[A-Z]/) < 0) { 
        errors.push("Your password must contain at least one uppercase letter.");
        document.getElementById("submitBtn").disabled = true;
    }
    if ($('#password').val() !== $('#confirm_password').val()) {
        errors.push("Password Mismatch!");
        $('#confirm_password').css('color', 'red');
        document.getElementById("submitBtn").disabled = true;
    }        
    if (errors.length > 0) {
        document.getElementById("submitBtn").disabled = true;
        alert(errors.join("\n"));
        return false;   
    }  
    else
     {   
         $('#confirm_password').css('color', 'green');
         document.getElementById("submitBtn").disabled = false;  
         return true;
     }   
};
    </script>
  </html>