<% include partials/head %>

  <body background="bg.png">
<div class="content">
 <h1 style="font-family: 'Pacifico', cursive; text-align: center; font-size:50px;">Welcome to Serler</h1>
  <div class="title">Create account</div>
  <form action="/signup" method="post">
<!--
          <div class="form-group">
          
            <input type="Text" placeholder="Full Name" class="form-control" name="Fname" />
          </div>
-->
          <div class="form-group">
             
              <input  type="text" placeholder="Email" class="form-control font20" name="email">
          </div>
          <div class="form-group">
          
            <input type="password" placeholder="Password" class="form-control font20" name="password" />
          </div>
          <div class="form-group">
          
            <input type="password" placeholder="Confirm Password" class="form-control font20" name="password" />
          </div>
          <div>
            <input type="submit" class="form-control font20 sgnup" value="Submit" />
          </div>
        </form>
  <div class="social"> <span>or sign up with social media</span></div>
  <div class="buttons">
        <a href="/auth/facebook" class="btn btn-primary font25"><span class="fa fa-facebook"></span>&nbsp;&nbsp;Facebook</a>
         <!-- <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a> -->
        <a href="/auth/google" class="btn btn-danger font25"><span class="fa fa-google-plus"></span>&nbsp;&nbsp;Google</a>
  </div>
  <div class="already">Already have an account? <a href="/login"><span class="fa fa-sign-in"></span> Login</a></div>
</div>
    </body>
  </html>