<% include partials/head %>

  <body background="bg.png">
<div class="content">
     <h1 style="font-family: 'Pacifico', cursive; text-align: center; font-size:50px;">Thank you for using Serler. See you soon soon!</h1>
  
</div>
    </body>
  </html>