<% include partials/head %>

  <body>
    <div class="content">
    <h1 style="font-family: 'Pacifico', cursive; text-align: center; font-size:50px;">Welcome to SERLER</h1>
  <div class="title"><span class="fa fa-sign-in"></span> Login</div>
       
        <% if (message != null) { %>
        	<div class="alert-danger"><%= message %></div>
        <% } %>

        <form action="/login" method="post">
          <div class="form-group">
              
              <input type="text" placeholder="Email" class="form-control" name="email">
          </div>
          <div class="form-group">
            
            <input type="password" placeholder="Password" class="form-control" name="password" />
          </div>
          <div>
            <input type="submit" class="form-control sgnup" value="Submit" />
          </div>
        </form>
      
      <div class="social"> <span>Don't have an account?</span></div>
      <hr style="    border-top: 0px solid #eee;">
    <a href="/" class="sgnup"> Sign up</a>
    </div>
  </body>
</html>
